# Ignore environment variables and secrets
.env
venv/

# Bytecode and cache files
__pycache__/
*.py[cod]
*.pyo

# SQLite database or temp data files
*.db

# VS Code settings (optional)
.vscode/

# OS system files
.DS_Store
